html, *{
    margin:0;
    padding: 0;
}
body{
    font-family: 'MoneyGraphy', sans-serif;
}
@font-face {
    font-family: 'MoneyGraphy';
    src: url('../fonts/Moneygraphy-Rounded.woff2') format('woff2');
    font-display: swap;
}
.logo{
    width:130px;
    position: absolute;
    top:40%;
    left:13%
}
.profil{
    width:130px;
    position: absolute;
    top:41%;
    left:38%;
    border-radius:50%;
}
.profilMg{
    width:130px;
    position: absolute;
    top:35%;
    left:45%;
}